In [1]:
import pandas as pd
from data import fatec_movimento, fatec_pagamento, fatec_operacao

In [15]:
from data import indice_fontes

In [13]:
fatec_movimento

,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd,cod_mdl,id_fnt
0,ed78c2f2-fd2,64d85edf-8b3,15062019.0,NaN,NaN,NaN,NaN,2728.3476,ANT,M,B05,88
1,84706050-586,3e537b64-340,10042019.0,NaN,NaN,2195.7135,329.3049,NaN,ANT,NaN,D01,7
2,7b3bc686-d7f,930e64c5-777,17022019.0,NaN,NaN,3791.8644,56870.4600,NaN,ANT,NaN,D01,953
3,57a7735b-83e,79bac911-7a0,10022019.0,NaN,NaN,NaN,NaN,1284.6519,ANT,M,C01,781
4,c527b570-ce7,81c011a3-349,10102019.0,NaN,NaN,647.3508,540.4320,NaN,ANT,NaN,D01,781
...,...,...,...,...,...,...,...,...,...,...,...,...
54001,a0f565a4-5f7,926699e6-c33,5022020.0,NaN,NaN,202.0365,83.4000,NaN,ANT,NaN,D01,120
54002,2487a7a8-367,d97c15c9-6ca,8072019.0,NaN,NaN,1093.6242,237.6900,NaN,ANT,NaN,D01,238
54003,97257a00-2e6,9b81674c-445,9052019.0,NaN,NaN,1258.0890,42117.0000,NaN,ANT,NaN,D01,120
54004,a8509734-039,9d4a7f3a-f2f,8052019.0,NaN,NaN,1395.4488,131630.2200,NaN,ANT,NaN,D01,140
54005,99d52a6a-1a6,70078d20-73b,25062019.0,NaN,NaN,48235.1406,7235.0751,NaN,ANT,NaN,D01,963

In [7]:
fatec_operacao.head()

,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
0,0f503289-dfb,87308050371,F,52.0,20112023.0,NaN,259741.1685,28511582.70,25e351cc-ec4e-4a47-861e-834f2aa1dc13,14,C01,88
1,683ea107-f2e,54355614187,F,36.0,6112022.0,140141.5236,NaN,NaN,a1f18524-8a4f-40a5-ba31-6fbff83bfd58,10,B05,88
2,d8e48899-58d,92265948819,F,NaN,NaN,NaN,0.0000,NaN,63149b03-b3bd-41e3-9b33-86661155bbaf,15,D01,88
3,5909262c-526,104455393515,F,82.0,20112019.0,NaN,1520.5905,27626512.71,40367466-b381-4452-add6-641eafb6b1be,14,C01,88
4,a2baadcc-95a,8642684152,F,65.0,15042020.0,NaN,8093.7615,26287450.65,3e99353c-df9a-4164-831d-84fff45cefdf,14,C01,88

In [2]:
fatec_pagamento.head()

,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd,id_fnt
0,c8176e21-845,cd596c84-3fe,f4ef9e73-e02,13102019,2019-10-13 03:00:00,591.3060,D01,E,49
1,a3fad4d7-ad7,3736da82-cd3,cffcab96-2b4,1032020,2020-03-01 03:00:00,6880.2081,D01,E,120
2,7fd6249b-4cf,f66a2496-e0a,b021cf9e-409,7122018,2019-12-12 03:00:00,6553.5303,B05,I,679
3,90fb53f6-225,0e3217ed-88e,72854add-8b9,7082019,2019-08-05 03:00:00,5980.6140,C01,I,140
4,e4d0eaed-0c6,48a5b038-4ed,453f0f88-7e9,11022019,2019-02-28 03:00:00,2301.7983,B05,I,298

In [10]:
fatec_movimento.shape

(54006, 12)

In [33]:
indice_fontes.sort()

In [34]:
def consistencia(df_base, series_base, series_referencia):
    matriz = list([fonte] for fonte in indice_fontes)
    for fonte in indice_fontes:
        campos_inconsistentes = list()
        for campo in range(len(series_base)):
            if df_base['id_fnt'][campo] == fonte and campo not in series_referencia:
                campos_inconsistentes.append(campo)
        
        porcentagem = 100 - (len(campos_inconsistentes) / len(series_base)) * 100
        matriz[indice_fontes.index(fonte)].append(porcentagem)
    
    return matriz

In [35]:
consistencia(fatec_movimento, fatec_movimento['id_opr_cad_pos'], fatec_operacao['id_opr_cad_pos'])

[[7, 92.81005814168796],
 [49, 94.1895344961671],
 [88, 93.91178757915787],
 [120, 94.1876828500537],
 [140, 94.42284190645483],
 [183, 93.94326556308559],
 [238, 94.40617709143429],
 [298, 93.51183201866459],
 [365, 93.02114579861497],
 [375, 94.31729807799134],
 [679, 93.35259045291264],
 [781, 93.48776061919045],
 [920, 93.88216124134355],
 [953, 93.34518386845906],
 [963, 92.76561863496649]]