# Importando Bibliotecas

In [66]:
import pandas as pd

# Puxando os Dados Principais

In [67]:
modalidade = pd.read_excel('dados/STG_MDL.xlsx')
pagamento = pd.read_excel('dados/STG_PGT.xlsx')
movimento = pd.read_excel('dados/STG_MVT_CRD.xlsx')
operacao = pd.read_excel('dados/STG_OPR_ITT.xlsx')
fonte = pd.read_excel('dados/STG_FNT_ITT.xlsx')

# Puxando os Dados Complementares

In [68]:
pessoa_fisica = pd.read_csv("dados/fatec_pessoa_fisica.csv", sep = '|', encoding='UTF-8', header = 1, usecols = [' id        ', ' cpf          ', ' idc_sexo ',
       ' ano_dat_nascimento '])

In [69]:
pessoa_fisica

       id           cpf             idc_sexo    ano_dat_nascimento
0             NaN             NaN         NaN                   NaN
1      804129883    37311167211     M           2000
2      246036379    34115266395     M           1969
3      218979283    35622655491     M           1970
4      717277229    33222324480     F           1994
...           ...             ...         ...                   ...
3005   271099619    223885940544    F           1962
3006   209547061    265864987976    F           1975
3007   97718872     262208637843    F           1983
3008   66330285     255487112307    F           1983
3009          NaN             NaN         NaN                   NaN

[3010 rows x 4 columns]

## Limpando o DataFrame

Abaixo estamos definindo o nome da coluna bugada para ser usada na função a seguinte:

In [70]:
coluna = pessoa_fisica.columns[1]

In [71]:
coluna

' cpf          '

## Redefinindo os nomes das colunas

In [72]:
pessoa_fisica.columns = ['id', 'cpf', 'idc_sexo', 'ano_dat_nascimento']

In [73]:
pessoa_fisica.columns

Index(['id', 'cpf', 'idc_sexo', 'ano_dat_nascimento'], dtype='object')

## Retirando os valores nulos

In [86]:
pessoa_fisica = pessoa_fisica[(pd.isna(pessoa_fisica['id']) != True)]

## Retirando as quebras de pagina no DataFrame

In [87]:
pessoa_fisica[(pessoa_fisica['cpf'] != coluna)]

               id             cpf    idc_sexo    ano_dat_nascimento
1      804129883    37311167211     M           2000
2      246036379    34115266395     M           1969
3      218979283    35622655491     M           1970
4      717277229    33222324480     F           1994
5      3674219      1505546115      M           1971
...           ...             ...         ...                   ...
3004   123479485    255051104931    M           1983
3005   271099619    223885940544    F           1962
3006   209547061    265864987976    F           1975
3007   97718872     262208637843    F           1983
3008   66330285     255487112307    F           1983

[3000 rows x 4 columns]